# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
/broadcast
/broadcast/*/

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/
broadcast/

# Node
node_modules/
dist/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
