# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
/broadcast
/broadcast/*/

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/
broadcast/

# Node
node_modules/
dist/
.env
.env.*
!.env.example
!**/.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Scratch & build temporary files
scratch/
*.cre_build_tmp.js
*.wasm.br.b64
*.wasm


